@page
@model lab44.Pages.Kierowcy.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kierowca[0].IMIE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kierowca[0].NAZWISKO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kierowca[0].WIEK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kierowca[0].PLEC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kierowca) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WIEK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLEC)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
